
body{
	background-color: white;
}


.triangolo1 
{
	
	position: relative;
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 86px solid orange;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 2;
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo1Small
{
	position: relative;
	width:0;
	height:0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 43px solid orange;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 2;
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo1Big
{
	position: relative;
	width:0;
	height:0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 172px solid orange;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 2;
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo2 
{
	position: relative;
	right: 0;
	bottom: 0;
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 86px solid orange;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 1;
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo2Small
{
   position: relative;
	right: 0;
	bottom: 0;
	width:0;
	height:0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 43px solid orange;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 1;
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo2Big
{
	position: relative;
	right: 0;
	bottom: 0;
	width:0;
	height:0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 172px solid orange;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 1;
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo3
 {
	
	position: relative;
	right: 50px;
	bottom: 258px;
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 86px solid orange;
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo3Small
{
	position: relative;
	right: 25px;
	bottom: 129px;
	width:0;
	height:0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 43px solid orange;
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo3Big
{
	position: relative;
	right: 100px;
	bottom: 516px;
	width:0;
	height:0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 172px solid orange;
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
	-webkit-transition: .3s;
  	transition: .3s;
}

.triangolo4
 {
	position: relative;
	left: 50px;
	bottom: 172px;
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 86px solid orange;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo4Small
{
	position: relative;
	left: 25px;
	bottom: 86px;
	width:0;
	height:0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 43px solid orange;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo4Big
{
	position: relative;
	left: 100px;
	bottom: 344px;
	width:0;
	height:0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 172px solid orange;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo5
{
	position: relative;
	right: 50px;
	bottom: 258px;
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 86px solid orange;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);
}
.triangolo5Small
{
	position: relative;
	right: 25px;
	bottom: 129px;
	width:0;
	height:0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 43px solid orange;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);
}
.triangolo5Big
{
	position: relative;
	right: 100px;
	bottom: 516px;
	width:0;
	height:0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 172px solid orange;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);
}
.triangolo6
{
	position: relative;
	left: 50px;
	bottom: 344px;
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 86px solid orange;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo6Small
{		
	position: relative;
	left: 25px;
	bottom: 172px;
	width:0;
	height:0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 43px solid orange;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo6Big
{
	position: relative;
	left: 100px;
	bottom: 688px;
	width:0;
	height:0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 172px solid orange;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);
	-webkit-transition: .3s;
  	transition: .3s;
}
.triangolo1:hover
{
	opacity: 0.5;
	position: relative;
	width:0;
	height:0;
	bottom: 3px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 86px solid yellow;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 1;
}
.triangolo1Small:hover
{
	opacity: 0.5;
	position: relative;
	width:0;
	height:0;
	bottom: 3px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 43px solid yellow;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 1;
}
.triangolo1Big:hover
{
	opacity: 0.5;
	position: relative;
	width:0;
	height:0;
	bottom: 3px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 172px solid yellow;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 1;
}
.triangolo2:hover
{
	opacity: 0.5;
	position: relative;
	width:0;
	height:0;
	bottom: -3px;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 86px solid yellow;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 2;
}
.triangolo2Small:hover
{
	opacity: 0.5;
	position: relative;
	width:0;
	height:0;
	bottom: -3px;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 43px solid yellow;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 2;
}
.triangolo2Big:hover
{
	opacity: 0.5;
	position: relative;
	width:0;
	height:0;
	bottom: -3px;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-bottom: 172px solid yellow;
	-moz-transform:rotate(0);
	-webkit-transform:rotate(0);
	-ms-transform:rotate(0);
	-o-transform:rotate(0);
	transform:rotate(0);
	z-index: 2;
}
.triangolo3:hover
{
	opacity: 0.5;
	position: relative;
	right: 53px;
	bottom: 259px;
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 86px solid yellow;
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);

}
.triangolo3Small:hover
{
	opacity: 0.5;
	position: relative;
	right: 26.5px;
	bottom: 129.5px;
	width:0;
	height:0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 43px solid yellow;
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);

}
.triangolo3Big:hover
{
	opacity: 0.5;
	position: relative;
	right: 106px;
	bottom: 518px;
	width:0;
	height:0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 172px solid yellow;
	-moz-transform:rotate(-180deg);
	-webkit-transform:rotate(-180deg);
	-ms-transform:rotate(-180deg);
	-o-transform:rotate(-180deg);
	transform:rotate(-180deg);
}
.triangolo4:hover
{
	opacity: 0.5;
	position: relative;
	left: 53px;
	bottom: 174px;
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 86px solid yellow;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);

}
.triangolo4Small:hover
{
	opacity: 0.5;
	position: relative;
	left: 26.5px;
	bottom: 87px;
	width:0;
	height:0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 43px solid yellow;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.triangolo4Big:hover
{
	opacity: 0.5;
	position: relative;
	left: 106px;
	bottom: 348px;
	width:0;
	height:0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 172px solid yellow;
	-moz-transform:rotate(180deg);
	-webkit-transform:rotate(180deg);
	-ms-transform:rotate(180deg);
	-o-transform:rotate(180deg);
	transform:rotate(180deg);
}
.triangolo5:hover
{
	opacity: 0.5;
	position: relative;
	right: 53px;
	bottom: 257px;
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 86px solid yellow;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);

}
.triangolo5Small:hover
{
	opacity: 0.5;
	position: relative;
	right: 26.5px;
	bottom: 128.5px;
	width:0;
	height:0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 43px solid yellow;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);
}
.triangolo5Big:hover
{
	opacity: 0.5;
	position: relative;
	right: 106px;
	bottom: 514px;
	width:0;
	height:0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 172px solid yellow;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);
}

.triangolo6:hover
{
	opacity: 0.5;
	position: relative;
	left: 53px;
	bottom: 343px;
	width:0;
	height:0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 86px solid yellow;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);

}
.triangolo6Small:hover 
{
    opacity: 0.5;
	position: relative;
	left: 26.5px;
	bottom: 171.5px;
	width:0;
	height:0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-top: 43px solid yellow;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);
}
.triangolo6Big:hover
{
	opacity: 0.5;
	position: relative;
	left: 106px;
	bottom: 686px;
	width:0;
	height:0;
	border-left: 100px solid transparent;
	border-right: 100px solid transparent;
	border-top: 172px solid yellow;
	-moz-transform:rotate(-0deg);
	-webkit-transform:rotate(-0deg);
	-ms-transform:rotate(-0deg);
	-o-transform:rotate(-0deg);
	transform:rotate(-0deg);
}

.faccia1{
	width:100px;
	height:87.6px;
	position: relative;
	bottom: -100px;
	right: 140px;
	-moz-transform:skew(30deg);
	-webkit-transform:skew(30deg);
	-ms-transform: skew(30deg);
	-o-transform: skew(30deg);
	transform: rotate(120deg) skew(30deg);
	-webkit-transition: .3s;
  	transition: .3s;
  	background: #1e5799; 
  	background: -moz-linear-gradient(top, #1e5799 0%, #7db9e8 100%); 
  	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), 
  	color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */ 
  	background: -webkit-linear-gradient(bottom, #000 0%,#FFFFF0 100%); /* Chrome10+,Safari5.1+ */ 
  	background: -o-linear-gradient(top, #1e5799 0%,#7db9e8 100%); /* Opera 11.10+ */ 
  	background: -ms-linear-gradient(top, #1e5799 0%,#7db9e8 100%); /* IE10+ */ 
  	background: linear-gradient(top, #1e5799 0%,#7db9e8 100%); /* W3C */ 
  	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}

.faccia2{
	width:100px;
	height:87.6px;
	position: relative;
	bottom: 35px;
	right: 220px;
	-moz-transform:skew(30deg);
	-webkit-transform:skew(30deg);
	-ms-transform: skew(30deg);
	-o-transform: skew(30deg);
	transform: rotate(60deg) skew(30deg);
	-webkit-transition: .3s;
  	transition: .3s;
  	background-color: black;
}
.faccia3{
	width:100px;
	height:87.6px;
	position: relative;
	bottom: 170px;
	right: 140px;
	-moz-transform:skew(30deg);
	-webkit-transform:skew(30deg);
	-ms-transform: skew(30deg);
	-o-transform: skew(30deg);
	transform: skew(30deg);
	-webkit-transition: .3s;
  	transition: .3s;
  	background-color: black;
}

.square{
	
	background-color: yellow;
	border-radius: 10px;
	width: 100px;
	height: 100px;
	transform: rotate(45deg);
	-webkit-transition: .5s;
  	transition: .5s;
  	opacity: 0.5;
  	z-index:-1;
}

.square:hover{
	background-color: yellow;
	border-radius: 10px;
	width: 100px;
	height: 100px;
	background-color: yellow;
	transform: rotate(360deg);
	opacity: 1;
	z-index: -1;
}

.fixed{
	
	text-align: center;
	line-height: 50px;
	transform: rotate(-45deg);
	z-index:0;
}

.comaprsa-0{
	position: relative;
	height: 100px;
	width: 100px;
	background-color: white;
	border: 1px solid gray;
	-webkit-transition: .3s;
  	transition: .3s;
}

.comaprsa-0:hover{
	bottom: 50px;
	z-index: 2;
}
	
.comaprsa-1{
	position: relative;
	height: 100px;
	width: 100px;
	background-color: white;
	bottom: 50px;
	border: 1px solid gray;
	-webkit-box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	-moz-box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	-webkit-transition: .3s;
  	transition: .3s;

}

.comaprsa-1:hover{
	bottom: 100px;
	z-index: 2;
}

.comaprsa-2{
	position: relative;
	height: 100px;
	width: 100px;
	background-color: white;
	bottom:100px;
	border: 1px solid gray;
	-webkit-box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	-moz-box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	-webkit-transition: .3s;
  	transition: .3s;
}

.comaprsa-2:hover{
	bottom: 150px;
	z-index: 2;
}

.comaprsa-3{
	position: relative;
	height: 100px;
	width: 100px;
	background-color: white;
	bottom:150px;
	border: 1px solid gray;
	-webkit-box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	-moz-box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	-webkit-transition: .3s;
  	transition: .3s;
}

.comaprsa-3:hover{
	bottom: 200px;
	z-index: 2;
}


.comaprsa-4{
	position: relative;
	height: 100px;
	width: 100px;
	background-color: white;
	bottom: 200px;
	border: 1px solid gray;
	-webkit-box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	-moz-box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	box-shadow: 0px -5px 6px -2px rgba(51,48,51,1);
	-webkit-transition: .3s;
  	transition: .3s;
}

 
	
